<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Tile</th>
            <th>noPage</th>
            <th>Price</th>
            <th ng-click="addBook()"><span style="font-size:20px; cursor: pointer;" 
                class="glyphicon glyphicon-plus-sign"></span></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="b in books">
            <td>{{$index+1}}</td>
            <td>{{b.title}}</td>
            <td>{{b.noPage}}</td>
            <td>{{b.price}}</td>
            <td><span style="font-size:20px; cursor: pointer;" 
                    class="glyphicon glyphicon-edit" ng-click="edit(b, $index)"></span>
                <span style="font-size:20px; cursor: pointer;" 
                    class="glyphicon glyphicon-trash" ng-click="delete(b, $index)"></span>
            </td>
        </tr>
    </tbody>
</table>
<text-angular ng-model="htmlContent" uploadPath="img"></text-angular>
