<div class="modal-header">
    <h3 class="modal-title" id="modal-title">{{$ctrl.role._id ? "Edit " + $ctrl.role.title + ' Role' : "Add a new role"}}</h3>
</div>
<div class="modal-body" id="modal-body">
    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-12">
                 <label for="roleTitle">Role Title</label>
                <input type="text" class="form-control" id="roleTitle" placeholder="Title" ng-model="$ctrl.role.title">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <label>Front-end Functions</label>
                <ui-select ng-model="$ctrl.role.frontends" multiple theme="selectize" title="Choose a person" ng-change="$ctrl.rolesChange()" >
                    <ui-select-match placeholder="Select or search a function in the list...">{{$item.title}}</ui-select-match>
                    <ui-select-choices repeat="item in $ctrl.frontends | filter: $select.search" position="down">
                        <div ng-bind-html="item.title | highlight: $select.search"></div>
                        <small ng-bind-html="item.description | highlight: $select.search"></small>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <label>Back-end Functions</label>
                <ui-select ng-model="$ctrl.role.backends" multiple theme="selectize">
                    <ui-select-match placeholder="Select or search a function in the list...">{{$item.title}}</ui-select-match>
                    <ui-select-choices repeat="b in $ctrl.backends | filter: $select.search" position="down">
                        <div ng-bind-html="b.title | highlight: $select.search"></div>
                        <small ng-bind-html="b.description | highlight: $select.search"></small>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <label for="roleDesc" class="control-label">Description</label>
                <textarea class="form-control" rows="3" placeholder="Description" ng-model="$ctrl.role.description"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <textarea id="reason" class="form-control" rows="3" placeholder="{{'Reasons for ' + ($ctrl.role._id ? 'changing ' : 'adding') + 'the role.'}}" ng-model="$ctrl.reason"></textarea>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">{{$ctrl.role._id ? "Save" : "Create"}}</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>