<div style="height: 50px; width: 100%;">
<div style="position:fixed; top:0px; left:0px; width: 100%; z-index:2;">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="../img/brand.png" alt="Brand">
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Link</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" ng-click="login()">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" ng-show="token">Logout
                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                        </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" ng-hide="token">
                        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Login
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</div>
</div>
<div id="app">
    <div id="vMenuLeft" ng-show="token">
        <div style="height: 70px; width: 100%">
            <div style="padding:0px 5px; display: inline-block; height: 100%">
                <img src="/img/usericon.png" class="img-circle" style="height: 100%">
            </div>
            <div style="display: inline-block; vertical-align: middle; padding-right: 5px;">
                <h3 class="text-center" style="margin-bottom: 0px; text-transform: uppercase">{{fullname}}</h3>
                <h4 class="text-center" style="margin-top:2px;">---------------</h4>
            </div>
        </div>
        <div>
            <ul class="list">
                <li ng-repeat="menu in menus track by $index" ng-mouseover="menuHover(menu)" ng-mouseleave="menuLeave(menu)">
                    <p class="{{menu.titleClass ? menu.titleClass : 'menuItem'}}" ng-click="menuClick(menu, 0)">{{menu.title}}
                        <span class="{{menu.caretClass ? menu.caretClass : 'hide'}}" aria-hidden="true"></span></p>
                    <ul ng-show="menu.hideSubmenu && menu.frontends && menu.frontends.length" class="list" style="margin-left:20px;">
                        <li ng-repeat="m in menu.frontends track by $index" ng-mouseover="menuHover(m)" ng-mouseleave="menuLeave(m)" ng-click="menuClick(m, 1)"
                            style="margin:0px;padding:0px;">
                            <p class="{{m.titleClass ? m.titleClass : 'menuItem'}}"> {{m.title}}</p>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <main style="margin-top:15px;">
        <div ng-show="tabs.length">
            <ul class="nav nav-tabs" id="mainTab">
                <li ng-repeat="t in tabs track by $index" ng-class="{'active': t.titleClass == 'menuActive' }" ng-click="selectTab(t)"><a>{{t.title}} <i ng-click="closeTab($index, $event)" class="glyphicon glyphicon-remove tabclosebutton"></i></a></li>
            </ul>
        </div>
        <div id="mainView">
            <div ui-view></div>
        </div>
    </main>
</div>