<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row" style="display: flex; align-items: center; min-height: 1vh;">
            <div class="col-md-6">
                <h2>User Management 
                    <span class="glyphicon glyphicon-plus-sign" ng-click="createUser()"
                    style="vertical-align: middle; cursor: pointer;"></span>
                </h2>
            </div>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Full Name</th>
                <th>User Name</th>
                <th>Roles</th>
                <th>State</th>                
                <th>Created Date</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in userList track by $index" ng-class="user.activated ? '' : 'danger'">
                <td>{{$index + 1}}</td>
                <td>{{user.fullname}}</td>
                <td>{{user.username}}</td>
                <td ng-click="assignRole(user, $index)" style="cursor: pointer">                    
                    <code ng-repeat="r in user.roles" style="display:block; color:darkgreen; margin-top:5px; padding-left:5px;">{{r.title}}</code>                    
                </td>
                <td ng-click="changeState(user)" style="cursor: pointer;">{{user.activated ? 'activated' : 'disabled'}}</td>
                <td>{{user.createdOn}}</td>                
            </tr>
        </tbody>
    </table>

    <div class="panel-footer clearfix">
        <nav aria-label="Page navigation" class="pull-right">
            <ul class="pagination" style="margin:0px;">
                <li class="disabled">
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>